.sidebar {
    background-color: var(--color-gray-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-nav {
    font-size: 1.4rem;
    margin-top: 3.5rem;
    @media screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 1rem;
            @media screen and (max-width: $bp-medium) {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: $bp-medium) {
            flex: 1;
        }
    }
    &__item::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
        transform: scaleY(0);
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
    &__item:active::before {
        background-color: var(--color-primary-light);
    }
    &__link:link,
    &__link:visited {
        color: var(--color-gray-light-1);
        text-transform: uppercase;
        //display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        @media screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem 3rem;
        }
        @media screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: .7rem 1rem;
        }
    }
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
        @media screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: .5rem;
        }
    }
}