body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-gray-dark-2);
}

.header {
    font-size: 1.4rem;
}

.overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
}

.description {
    font-size: 1.4rem;
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.recommend {
    font-size: 1.3rem;
    color: var(--color-gray-dark-3);
}