.hotel-view {
    background-color: #fff;
}

.legal {
    font-size: 1.2rem;
    color: var(--color-gray-light-4);
    padding: 2.5rem;
    text-align: center;
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-light-2);
    &__stars {
        margin-right: auto;
        display: flex;
    }
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
        &--location {
            margin-right: .5rem;
        }
    }
    &__location {
        display: flex;
        font-size: 1.2rem;
        align-items: center;
    }
    &__rating {
        align-self: stretch;
        margin-left: 3rem;
        padding: 0 2.25rem;
        background-color: var(--color-primary);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-average {
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;
        }
        &-count {
            font-size: .8rem;
            text-transform: uppercase;
        }
    }
}

.detail {
    padding: 4.5rem;
    background-color: var(--color-gray-light-1);
    border-bottom: 1px solid var(--color-gray-light-2);
}

.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    padding: 3rem;
    &__list {
        margin: 3rem 0;
        padding: 3rem 0;
        border-top: 1px solid var(--color-gray-light-2);
        border-bottom: 1px solid var(--color-gray-light-2);
        display: flex;
        flex-wrap: wrap;
        &__item {
            &::before {
                content: "";
                display: inline-block;
                height: 1rem;
                width: 1rem;
                margin-right: .7rem;
                // older browser:
                //background-image: url(../img/chevron-thin-right.svg);
                //background-size: cover;
                // newer browser - mask
                background-color: var(--color-primary);
                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-size: cover;
            }
            flex: 0 0 50%;
            margin-bottom: .7rem;
        }
    }
}

.recommend {
    display: flex;
    align-items: center;
    &__count {}
    &__friends {
        margin-left: auto;
    }
    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

.user-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}